@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Data is only submitted back to the web server for converting into environment variables. No data is saved or transmitted elsewhere.</p>
